// Task variables
$font-size-base: 16px !default;
$line-height-base: 1.5 !default;

$border-color: #DDD;
$background-color: #EEE;
$header-color: #BBB;
$button-color: #444;

// Mixins
@mixin content-width() {
  max-width: 50%;
  min-width: 350px;
  margin: 2% auto;
}

@mixin button() {
  display: inline-block;
  float: right;
  margin: 0;
  padding: $font-size-base;
  background-color: $button-color;
  color: $background-color;
  border: none;
  border-bottom: 1px solid $button-color;
  width: 20%;
  transition: all .4s ease-in;
  &:hover {
    background-color: steelblue;
    border-color: steelblue;
  }
}

@mixin text-input($width) {
  display: inline-block;
  background-color: white;
  border: 1px solid $border-color;
  padding: $font-size-base;
  width: $width;
  outline: none;
}

.create-task-list{
  @include content-width();
  .create-list-input {
    @include text-input(79%);
  }
  .create-list-button {
    @include button();
    border-top: 1px solid $button-color;
  }
}


.task-list {
  @include content-width();
  min-height: 300px;
  max-height: auto;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, .4);
  background-color: $background-color;
  border-radius: 4px;
  .task-list-head {
    background-color: tomato;
    color: white;
    padding: $font-size-base * 1.25;
    font-size: $font-size-base * 1.25;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    .search-input {
      @include text-input(40%);
      position: absolute;
      right: $font-size-base / 2;
      bottom: $font-size-base / 2;
      font-size: 14px;
      color: white;
      border: none;
      border-radius: 4px;
      background-color: rgba(255,255,255,0.15);
      &::-webkit-input-placeholder { /* WebKit browsers */
          color: rgba(255,255,255,0.8);
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color: white;
         opacity: 0.8;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color: white;
         opacity: 0.8;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
         color: rgba(255,255,255,0.8);
      }
    }
  }
  .add-task-container {
    .add-task-header {
      background-color: $border-color;
      div {
        display: inline-block;
        padding: $font-size-base/2 0;
        &.new-task-label {
          margin-left: $font-size-base;
        }
        &.priority-label {
          margin-left: 23%;
        }
      }
    }
    .add-task {
      display: block;
      position: relative;
      input {
        @include text-input(40%);
        position: absolute;
        border: none;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
      .select-style {
        position: absolute;
        left: 40%;
        display:inline-block;
        color: #AAA;
        background-color: white;
        border: none;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        width: 40%;
        padding: $font-size-base;
        overflow: hidden;
        select {
          border: none;
          border-radius: none;
          width: 100%;
          box-shadow: none;
          background: transparent;
          backgroun-image: none;
          option[disabled] {
            display: none;
          }
          &:focus {
            outline: none;
          }
        }
      }
      button {
        @include button();
        position: relative;
      }
    }
  }
  .tasks {
    padding-left: 0;
    clear: right;
    li {
      list-style-type: none;
      padding: $font-size-base $font-size-base*2;
      border-bottom: 1px solid #DDD;
      position: relative;

      /*  ng-hide Animation for swipe right touch gesture */
      &.animate-swipe-rt.ng-hide-add, &.animate-swipe-rt.ng-hide-remove {
        -webkit-transition: all linear 1s;
        -moz-transition: all linear 1s;
        -o-transition: all linear 1s;
        transition: all linear 1s;
        display: block;
      }

      &.animate-swipe-rt.ng-hide-add.ng-hide-add-active {
        opacity: 0;
        text-decoration: line-through;
      }

      &.animate-swipe-rt.ng-hide-remove.ng-hide-remove-active {
        opacity: 1;
        text-decoration: none;
      }
      
      i {
        position: absolute;
        bottom: $font-size-base/3;
        color: $header-color;
        transition: color 0.4s ease-in;
        &.fa-check-circle-o {
          display: inline;
          right: $font-size-base*3.75;
          &:hover {
            color: yellowgreen;
            cursor: pointer; 
          }
        }
        &.fa-times-circle-o {
          display: inline;
          right: $font-size-base;
          &:hover {
            color: tomato;
            cursor: pointer; 
          }
        }
      }
    }
  }
}

.delete-container {
  @include content-width();
  .delete-btn {
    @include button();
    width: 40%;
    border-top: 1px solid $button-color;
  }
}


// Mobile-friendly view of task list
@media only screen and (max-width: 360px) {
  $font-size-base: 12px !default;
  $line-height-base: 1.4 !default;

  .create-task-list {
    max-width: 100%;
    min-width: 100%;
    .create-list-input {
      width: 74%;
    }
    .create-list-button {
      width: 25%;
    }
  }

  .task-list {
    min-width: 100%;
    max-width: 100%;
    margin: 5% auto;
    .add-task-container {
      .add-task-header {
        div {
          &.priority-label {
            margin-left: 19%;
          }
        }
      }
      .add-task {
        input {
          width: 50%;
        }
        .select-style {
          width: 50%;
          left: 50%;
          clear: right;
        }
        button {
          margin-top: $font-size-base*3;
          position: relative;
          width: 100%;
          left: 0;
        }
      }
    }
    .tasks {
      margin-top: 0;
      li {
        padding-left: $font-size-base;
        i {
          position: absolute;
          font-size: $font-size-base*2.5;
          bottom: $font-size-base/2.5;
          &.fa-check-circle-o {
            right: $font-size-base*3;
          }
          &.fa-times-circle-o {
            right: $font-size-base/2;
          }
        }
      }
    }
  }

  .delete-container {
    min-width: 100%;
    max-width: 100%;
  }
}