// Task variables
$font-size-base: 16px !default;
$line-height-base: 1.5 !default;

$border-color: #DDD;
$background-color: #EEE;
$header-color: #BBB;
$button-color: #444;

// Placeholders
%content-width {
  max-width: 50%;
  min-width: 350px;
  margin: 2% auto;
}

%button {
  display: inline-block;
  float: right;
  margin: 0;
  padding: $font-size-base;
  background-color: $button-color;
  color: $background-color;
  border: none;
  border-bottom: 1px solid $button-color;
  width: 20%;
  transition: all .4s ease-in;
  &:hover {
    background-color: steelblue;
    border-color: steelblue;
  }
}

%text-input {
  display: inline-block;
  background-color: white;
  border: 1px solid $border-color;
  padding: $font-size-base;
  outline: none;
  font-weight: 300;
}

.create-task-list{
  @extend %content-width;
  .create-list-input {
    @extend %text-input;
    width: 79%;
  }
  .create-list-button {
    @extend %button;
    border-top: 1px solid $button-color;
  }
}


.task-list {
  @extend %content-width;
  min-height: 300px;
  max-height: auto;
  box-shadow: 0px 1px 5px 0 rgba(0, 0, 0, .4);
  background-color: $background-color;
  border-radius: 4px;
  position: relative;
  .task-list-head {
    background-color: tomato;
    color: white;
    padding: $font-size-base * 1.25;
    font-size: 1.777em;
    font-weight: 300;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    position: relative;
    .search-input {
      @extend %text-input;
      width: 40%;
      position: absolute;
      right: $font-size-base / 2;
      bottom: $font-size-base / 1.4;
      font-size: 14px;
      color: white;
      border: none;
      border-radius: 4px;
      background-color: rgba(255,255,255,0.15);
      &::-webkit-input-placeholder { /* WebKit browsers */
          color: rgba(255,255,255,0.8);
      }
      &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
         color: white;
         opacity: 0.8;
      }
      &::-moz-placeholder { /* Mozilla Firefox 19+ */
         color: white;
         opacity: 0.8;
      }
      &:-ms-input-placeholder { /* Internet Explorer 10+ */
         color: rgba(255,255,255,0.8);
      }
      &::placeholder {
        color: rgba(255,255,255,0.8);
      }
    }
  }
  .add-task-container {
    .add-task-header {
      background-color: $border-color;
      div {
        display: inline-block;
        padding: $font-size-base/2 0;
        &.new-task-label {
          margin-left: $font-size-base;
        }
        &.priority-label {
          margin-left: 21.5%;
        }
      }
    }
    .add-task {
      display: block;
      position: relative;
      input {
        @extend %text-input;
        width: 40%;
        position: absolute;
        border: none;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
      }
      .select-style {
        position: absolute;
        left: 40%;
        display:inline-block;
        background-color: white;
        border: none;
        border-left: 1px solid $border-color;
        border-bottom: 1px solid $border-color;
        width: 40%;
        overflow: hidden;
        select {
          border: none;
          border-radius: none;
          color: #AAA;
          font-weight: 300;
          -moz-appearance: none;
          -webkit-appearance: none;
          appearance: none;  
          text-indent: 0.01px;
          text-overflow: '';
          width: 100%;
          padding: $font-size-base;
          padding-top: $font-size-base + 0.5; // firefox rounding issue
          box-shadow: none;
          background: transparent;
          background-image: none;
          option[disabled] {
            display: none;
          }
          &:focus {
            outline: none;
          }
        }
      }
      button {
        @extend %button;
        position: relative;
      }
    }
  }
  .priority-header {
    padding-left: $font-size-base;
    margin-top: $font-size-base * 1.25;
    padding-bottom: $font-size-base;
    border-bottom: 1px dashed $border-color;
    font-weight: 300;
    font-size: 1.333em;
  }
  .priority-high-header {
    margin-top: $font-size-base * 4;
    padding-top: $font-size-base/2;
  }
  [editable-text] {
    color: black; 
    border-bottom: none;
  }
  .editable-wrap {
    input {
      padding: $font-size-base/2;
      border: 1px solid $border-color;
      outline: none;
    }
  }
  .editable-buttons button {
    padding: $font-size-base/2;
    background-color: $button-color;
    color: $background-color;
    border: none;
    border-radius: 4px;
    transition: all .4s ease-in;
    &:hover {
      background-color: steelblue;
      border-color: steelblue;
    }
  }



  .tasks {
    padding-left: 0;
    clear: right;
    li {
      list-style-type: none;
      padding: $font-size-base $font-size-base*2;
      border-bottom: 1px solid $border-color;
      position: relative;

      /*  Animation for swipe right touch gesture when task 'leaves' (ng-leave) */
      &.animate-swipe-rt.ng-leave {
        -webkit-transition: all linear 1s;
        -moz-transition: all linear 1s;
        -o-transition: all linear 1s;
        transition: all linear 1s;
        display: block;
        opacity: 1;
        text-decoration: none;
      }

      &.animate-swipe-rt.ng-leave.ng-leave-active {
        text-decoration: line-through;
        opacity: 0;
      }

      .hide-buttons {
        display: none;
      }
      
      i {
        position: absolute;
        bottom: $font-size-base/3;
        color: $header-color;
        transition: color 0.4s ease-in;
        &.fa-check-circle-o {
          display: inline;
          right: $font-size-base*3.75;
          &:hover {
            color: yellowgreen;
            cursor: pointer; 
          }
        }
        &.fa-times-circle-o {
          display: inline;
          right: $font-size-base;
          &:hover {
            color: tomato;
            cursor: pointer; 
          }
        }
      }
    }
  }
}

.delete-link-container {
  padding-bottom: $font-size-base*2;
  padding-top: $font-size-base/2;
  padding-right: $font-size-base;
  clear: left;
}
.delete-link {
  position: absolute;
  bottom: $font-size-base/2;
  right: $font-size-base;
  text-decoration: underline dotted;
  color: #AAA;
  &:hover {
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid steelblue;
    color: steelblue;
  }
}


// Mobile-friendly view of task list
@media only screen and (max-width: 360px) {
  $font-size-base: 12px !default;
  $line-height-base: 1.4 !default;

  // Mobile Placeholders
  %content-width {
    max-width: 100%;
    min-width: 100%;
  }

  .create-task-list {
    @extend %content-width;
    .create-list-input {
      width: 74%;
    }
    .create-list-button {
      width: 25%;
    }
  }

  .task-list {
    @extend %content-width;
    margin: 5% auto;
    .add-task-container {
      .add-task-header {
        div {
          &.priority-label {
            margin-left: 19%;
          }
        }
      }
      .add-task {
        input {
          width: 50%;
        }
        .select-style {
          width: 50%;
          left: 50%;
          clear: right;
        }
        button {
          margin-top: $font-size-base*3;
          position: relative;
          width: 100%;
          left: 0;
        }
      }
    }
    .priority-high-header {
      margin-top: $font-size-base * 7;
    }
    .tasks {
      margin-top: 0;
      li {
        padding-left: $font-size-base;
        i {
          position: absolute;
          font-size: $font-size-base*2.5;
          bottom: $font-size-base/2.5;
          &.fa-check-circle-o {
            right: $font-size-base*3;
          }
          &.fa-times-circle-o {
            right: $font-size-base/2;
          }
        }
      }
    }
  }
}