<div class="container">

  <form class="create-task-list" ng-submit="createList()">
    <input ng-model="list.newName" type="text" class="create-list-input" placeholder="+ Create new task list...">
    <button type="submit" class="create-list-button">Create</button>
  </form>

  <div class="task-list">
    <div class="task-list-head">
      Current Tasks
      <input ng-model="task.searchFilter" type="text" class="search-input" placeholder="Search tasks...">
    </div>
    <form ng-submit="addCurrentTask(task)" class="add-task-container">
      <div class="add-task-header">
        <div class="new-task-label">Task description</div>
        <div class="priority-label">Priority</div>
      </div>
      <div class="add-task">
        <input ng-model="task.name" class="new-task" type="text" placeholder="Enter new task..."></input>
        <div class="select-style">
          <select ng-model="task.priority" ng-options="priority for priority in priorities" class="priority">
            <option value="" disabled selected>Select priority...</option>
          </select>
        </div>
        <button type="submit" class="add-btn">Add</button>
      </div>
    </form>
    <div class="task-list-body">

      <h4 class="priority-header priority-high-header">
        High
      </h4>
      <ul class="tasks">
        <li ng-repeat="task in highTasks | filter: task.searchFilter" ng-hide="taskHistory.getTaskStatus(task)" ng-swipe-right="taskHistory.completeTask(task)" class="task animate-swipe-rt" editable-text="task.name" onaftersave="updateTask(task)">{{ task.name }}<complete-task></complete-task><delete-task></delete-task></li>
      </ul>

      <h4 class="priority-header">
        Medium
      </h4>
      <ul class="tasks">
        <li ng-repeat="task in mediumTasks | filter: task.searchFilter" ng-hide="taskHistory.getTaskStatus(task)" ng-swipe-right="taskHistory.completeTask(task)" class="task animate-swipe-rt" editable-text="task.name" onaftersave="updateTask(task)">{{ task.name }}<complete-task></complete-task><delete-task></delete-task></li>
      </ul>

      <h4 class="priority-header">
        Low
      </h4 >
      <ul class="tasks">
        <li ng-repeat="task in lowTasks | filter: task.searchFilter" ng-hide="taskHistory.getTaskStatus(task)" ng-swipe-right="taskHistory.completeTask(task)" class="task animate-swipe-rt" editable-text="task.name" onaftersave="updateTask(task)">{{ task.name }}<complete-task></complete-task><delete-task></delete-task></li>
      </ul>
    </div>
  </div>

</div>
