/*******************************************************
// Task module
*******************************************************/

.tasks {
  padding-left: 0;
  clear: right;

  @include respond-max(narrow) {
    margin-top: 0;
  }
  .task {
    position: relative;
    padding: $font-size-base $font-size-base*2;

    border-bottom: 1px solid $border-color;

    list-style-type: none;
    
    @include respond-max(narrow) {
      padding-left: $font-size-base;
    }
  }
}

// Title text for tasks grouped by priority
.priority-header {
  padding-left: $font-size-base;
  margin-top: $font-size-base * 1.25;
  padding-bottom: $font-size-base;

  border-bottom: 1px dashed $border-color;

  font-weight: 300;
  font-size: 1.333em;
}
.priority-high-header {
  margin-top: $font-size-base * 4;
  padding-top: $font-size-base/2;

  @include respond-max(narrow) {
    margin-top: $font-size-base * 7;
  }
}

// Overriding and adding to x-editable default styles
[editable-text] {
  border-bottom: none;
  color: black;
}
.editable-wrap {
  input {
    padding: $font-size-base/2;
    width: 75% !important; // override x-editable input width

    border: 1px solid $border-color;
    
    outline: none;
  }
}
.editable-buttons button {
  padding: $font-size-base/2;

  border: none;
  border-radius: 4px;

  background-color: $button-color;

  color: $background-color;
  
  transition: all .4s ease-in;

  &:hover {
    border-color: steelblue;
    background-color: steelblue;
  }
}

// Overriding and adding to font-awesome default styles
i {
  position: absolute;
  bottom: $font-size-base/3;

  color: $header-color;

  transition: color 0.4s ease-in;

  @include respond-max(narrow) {
    position: absolute;
    bottom: $font-size-base/2.5;

    font-size: $font-size-base*2.5;
  }
  &.fa-check-circle-o {
    display: inline;
    right: $font-size-base*3.75;
    &:hover {
      color: yellowgreen;
      cursor: pointer; 
    }
    @include respond-max(narrow) {
      right: $font-size-base*3;
    }
  }
  &.fa-times-circle-o {
    display: inline;
    right: $font-size-base;
    &:hover {
      color: tomato;
      cursor: pointer; 
    }
    @include respond-max(narrow) {
      right: $font-size-base/2;
    }
  }
}

/*  Animation for swipe right touch gesture when task is completed */
.animate-swipe-rt-add {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
  display: block;
  opacity: 1;
  text-decoration: none;
}

.animate-swipe-rt-add.animate-swipe-rt-add-active {
  text-decoration: line-through;
  opacity: 0;
}


/* Task history styles
====================== */
.completed {
  text-decoration: line-through;
}

/*  Animation for swipe left touch gesture when task is completed */
.animate-swipe-lt-add {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
  display: block;
  opacity: 1;
  text-decoration: line-through;
}

.animate-swipe-lt-add.animate-swipe-lt-add-active {
  text-decoration: none;
  opacity: 0;
}

