<div class="container">

  <div ng-include="'components/navbar/navbar.html'"></div>

  <div class="create-task-list">
    <input ng-model="task.newCategory" type="text" class="create-list-input" placeholder="+ Create new task list...">
    <button class="create-list-button">Create</button>
  </div>

  <div class="task-list">
    <div class="task-list-head">
      {{ task.category }}
    </div>
    <div class="add-task-container">
      <div class="add-task-header">
        <div class="new-task-label">Task description</div>
        <div class="priority-label">Priority</div>
      </div>
      <div class="add-task">
        <input ng-model="task.name" class="new-task" type="text" placeholder="Enter new task..."></input>
        <div class="select-style">
          <select ng-model="task.priority" ng-options="priority for priority in priorities" class="priority">
            <option value="" disabled selected>Select priority...</option>
          </select>
        </div>
        <button class="add-btn" ng-click="addCurrentTask(task)">Add</button>
      </div>
    </div>
    <div class="task-list-body">
      <ul class="tasks">
        <li ng-repeat="(id, task) in tasks | filter: task.category" ng-hide="taskHistory.getTaskStatus(task)" ng-init="checkExpiration(task, id)" ng-swipe-right="taskHistory.completeTask(task, id)" class="task animate-swipe-rt">{{ task.name }}<complete-task></complete-task><delete-task></delete-task></li>
      </ul>
    </div>
  </div>

  <div ng-include="'components/footer/footer.html'"></div>

</div>