.completed {
  text-decoration: line-through;
}
/*  Animation for swipe left touch gesture when task 'leaves' (ng-leave) */
&.animate-swipe-lt.ng-leave {
  -webkit-transition: all linear 1s;
  -moz-transition: all linear 1s;
  -o-transition: all linear 1s;
  transition: all linear 1s;
  display: block;
  opacity: 1;
  text-decoration: line-through;
}

&.animate-swipe-lt.ng-leave.ng-leave-active {
  text-decoration: none;
  opacity: 0;
}

