<div class="container">

  <div class="task-list">
    <div class="task-list-head">
      Task History
      <input ng-model="task.searchFilter" type="text" class="search-input" placeholder="Search...">
    </div>

    <div class="task-list-body">
      <h4 class="priority-header">
        High
      </h4>
      <ul class="tasks">
        <li ng-repeat="task in tasks | filter: task.searchFilter | filter: {priority: 'high'} | filter: {status: '!active'}" ng-init="swipe = false;" ng-class="{'completed': taskHistory.setTaskClass(task), 'animate-swipe-lt': swipe}" ng-swipe-left="swipe = !swipe; taskHistory.reActivateTask(task)" class="task task-history">{{ task.name }}<delete-task ng-click="swipe = !swipe;"></delete-task></li>
      </ul>

      <h4 class="priority-header">
        Medium
      </h4>
      <ul class="tasks">
        <li ng-repeat="task in tasks | filter: task.searchFilter | filter: {priority: 'medium'} | filter: {status: '!active'}" ng-init="swipe = false;" ng-class="{'completed': taskHistory.setTaskClass(task), 'animate-swipe-lt': swipe}" ng-swipe-left="swipe = !swipe; taskHistory.reActivateTask(task)" class="task task-history">{{ task.name }}<delete-task ng-click="swipe = !swipe;"></delete-task></li>
      </ul>

      <h4 class="priority-header">
        Low
      </h4>
      <ul class="tasks">
        <li ng-repeat="task in tasks | filter: task.searchFilter | filter: {priority: 'low'} | filter: {status: '!active'}" ng-init="swipe = false;" ng-class="{'completed': taskHistory.setTaskClass(task), 'animate-swipe-lt': swipe}" ng-swipe-left="swipe = !swipe; taskHistory.reActivateTask(task)" class="task task-history">{{ task.name }}<delete-task ng-click="swipe = !swipe;"></delete-task></li>
      </ul>
    </div>
  </div>

</div>