<nav class="navbar navbar-static-top navbar-inverse" role="navigation" ng-controller="NavbarCtrl">
  <div class="container-fluid" id="navfluid">
    <div class="navbar-header">
      <a class="navbar-brand" ui-sref="home">
        d<i class="fa fa-check-circle"></i>.it
      </a>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <div class="collapse navbar-collapse" id="nav-collapse">
      <ul class="nav navbar-nav">
        <li ui-sref-active='active' data-toggle="collapse" data-target="#nav-collapse"><a ui-sref="home">Active Tasks</a></li>
        <li ui-sref-active='active' ng-repeat="list in lists" data-toggle="collapse" data-target="#nav-collapse"><a ui-sref="lists({listId: list.$id})">{{ list.name }}</a></li>
        <li ui-sref-active='active' data-toggle="collapse" data-target="#nav-collapse"><a ui-sref="history">Task History</a></li>
      </ul>
    </div>
  </div>
</nav>
